/* Centraliza o conteúdo do Grid container */
.grid-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    flex-wrap: wrap; /* Garante que os elementos se distribuam em múltiplas linhas quando necessário */
}

/* Ajustes gerais do card */
.card-paper {
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 10px; /* Adiciona espaçamento entre os cards */
}

.card-paper:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100%;
    height: auto;
    max-width: 140px;
    margin-bottom: 10px;
}

.card-title {
    margin: 10px 0;
    font-weight: bold;
}

.card-price {
    margin-bottom: 10px;
    color: #007bff;
}

.card-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    .card-paper {
        padding: 15px;
    }

    .card-image {
        max-width: 120px;
    }

    .card-button {
        padding: 8px 16px;
    }
}

@media (max-width: 576px) {
    .card-paper {
        padding: 10px;
    }

    .card-image {
        max-width: 100px;
    }

    .card-button {
        padding: 6px 12px;
    }
}
